<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <location path="">
      <system.web>
         <httpRuntime enableVersionHeader="false" />
      </system.web>
      <system.webServer>
         <directoryBrowse enabled="false" />
         <rewrite>
            <rules>
               <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions logicalGrouping="MatchAny">
                     <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
                  </conditions>
                  <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
               </rule>
               <rule name="Remove PHP extension" enabled="true" stopProcessing="true">
                  <match url="^(.*)$" />
                  <conditions logicalGrouping="MatchAll">
                     <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                     <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                  </conditions>
                  <action type="Rewrite" url="{R:1}.php" />
               </rule>
            </rules>
         </rewrite>
         <security>
            <requestFiltering removeServerHeader="true">
               <verbs allowUnlisted="true">
                  <add verb="OPTIONS" allowed="false" />
               </verbs>
            </requestFiltering>
         </security>
         <httpProtocol>
            <customHeaders>
               <clear />
                <add name="Cache-Control" value="no-store, must-revalidate, no-cache, max-age=0" />
                <add name="X-Xss-Protection" value="0" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Strict-Transport-Security" value="max-age=31536000;" />
                <!--<add name="Feature-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment 'none'; usb 'none'" />-->
                <add name="Permissions-Policy" value="accelerometer=(),autoplay=(),camera=(),display-capture=(),document-domain=(),encrypted-media=(),fullscreen=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),midi=(),payment=(),picture-in-picture=(),publickey-credentials-get=(),screen-wake-lock=(),sync-xhr=(self),usb=(),web-share=(),xr-spatial-tracking=()" />
                <add name="X-Permitted-Cross-Domain-Policies" value="none" />
                <add name="Expect-CT" value="max-age=86400, enforce" />
                <add name="Cross-Origin-Embedder-Policy" value="unsafe-none" />
                <add name="Cross-Origin-Opener-Policy" value="same-origin" />
                <add name="Cross-Origin-Resource-Policy" value="same-origin" />
                <add name="Content-Security-Policy" value="block-all-mixed-content; default-src 'none'; style-src 'self'; script-src 'self' 'nonce-Cl0udFl4reNonceFreePlan'; frame-src 'none'; frame-ancestors 'self'; form-action 'self'; object-src 'none'; img-src 'self'; base-uri 'self'; child-src 'none'; media-src 'self'; font-src 'self'; connect-src 'self'; worker-src 'self';" />
               <remove name="X-Powered-By" />
            </customHeaders>
            <redirectHeaders>
               <clear />
            </redirectHeaders>
         </httpProtocol>
      </system.webServer>
   </location>
</configuration>